.Desc {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

@media (min-width: 64em) {
    .Desc {
        padding: 5rem 2rem;
    }
}

@media (min-width: 85em) {
    .Desc {
        padding: 5rem 6rem;
    }
}