* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-size: 62.5%;
  /* background-color: black; */
}

body {
  max-width: 280px;
  background-color: white;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 20em){
  body {
    max-width: 320px;
  }
}

@media (min-width: 22em){
  html {
    font-size: 70%;
  }
  body {
    max-width: 360px;
  }
}


@media (min-width: 23em){
  body {
    max-width: 375px;
  }
}

@media (min-width: 25em){
  body {
    max-width: 414px;
  }
}

@media (min-width: 40em){
  body {
    max-width: 720px;
  }
}


@media (min-width: 64em){
  body {
    max-width: 1024px;
  }
}

@media (min-width: 85em){
  body {
    max-width: 1366px;
  }
}

@media (min-width: 90em){
  body {
    max-width: 1440px;
  }
}